/* styles.css */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline-block;
    margin-right: 20px;
}

header h1 {
    float: left;
}

header nav {
    float: right;
    margin-top: 10px;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.nav-links li a {
    padding: 10px 20px;
    background-color: #007BFF;
    border-radius: 5px;
    color: #fff;
    transition: background-color 0.3s ease;
}

.nav-links li a:hover {
    background-color: #0056b3;
}

.logout-form {
    display: inline-block;
    margin: 0;
}

.logout-form button {
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-form button:hover {
    background-color: #0056b3;
}

.main-content {
    flex-grow: 1;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

footer a {
    color: #77aaff;
    text-decoration: none;
}

/* Стили для галереи сеансов */
.session-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 0;
}

.session-card {
    flex: 1 1 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.2s;
}

.session-card:hover {
    transform: translateY(-5px);
}

.session-thumbnail img {
    width: 100%;
    height: auto;
}

.session-info {
    padding: 12px;
    text-align: center;
    border: 1px solid blue;
}

.session-info h2 {
    font-size: 1em;  /* Уменьшили шрифт */
    margin: 0.5em 0;
}

.session-info p {
    margin: 0.5em 0;
    color: #555;
}

.buy-ticket-button {
    display: inline-block;
    padding: 8px 16px;  /* Уменьшили размеры кнопки */
    font-size: 0.9em;  /* Уменьшили размер шрифта */
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.buy-ticket-button:hover {
    background-color: #0056b3;
}
