{% extends "app/base.html" %}
{% block title %} Фильм:{{ movie.movie_name }} {% endblock %}


{% block content %}
    <h1>{{ movie.movie_name }}</h1>
    <img src="{{ movie.image.url }}" alt="{{ movie.movie_name }}">
    <p>Описание : {{ movie.description }}</p>
    <p>Жанр : {{ movie.genre }}</p>
    <p>Режиссер : <a href="{% url  'director_detail' director.pk %}">{{ director.name }}</a></p>
    <h3>Актеры:</h3>
    <ul>
        {% for actor in actors %}
            <li><a href="{% url 'actor_detail' actor.pk %}">{{ actor.name }}</a></li>
        {% endfor %}
    </ul>
    <p>Дата выпуска : {{ movie.release_date }}</p>
    <a href="{% url 'movies_list' %}">Назад к списку фильмов</a>
{% endblock %}
