{% extends 'app/base.html' %}
{% load static %}
{% block title %} {{ session.movie }}{% endblock %}

{% block content %}
<div class="container">
    <h1>Информация о сеансе</h1>
    <h2>Название фильма: <a href="{% url 'movie_detail' session.movie.pk %}">{{ session.movie.movie_name }}</a></h2>
    {% if movie.image %}
        <img src="{{ movie.image.url }}" alt="{{ movie.movie_name }}">
    {% else %}
        <img src="{% static 'image/noimage.gif' %}" alt="Изображение отсутствует">
    {% endif %}
    <p>Начало: {{ session.start_time }}</p>
    <p>Конец: {{ session.end_time }}</p>
    <p>Стоимость билета: {{ session.ticket_price }} BYN</p>
    <a href="{% url 'ticket_buy' session_pk=session.pk %}">Buy ticket</a>
</div>
{% endblock %}
